.container {
    padding: 0;
    margin-right: 20px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    max-height: 238px;
}
.inner {
    padding: 0;
}

.heading {
    background-color: rgba(100, 100, 100, 100);
    padding: 10px 0;
    h3 {
        margin: 0 0 0 10px;
        color: #fff;
    }
}

.headingList {
    ul {
        padding: 0;
    }
    .navbar-item {
        list-style: none;
        padding: 6px 0 6px 18px;
        border-bottom: 1px dashed #ccc;
        display: flex;
        color: #000;
        &:hover {
            color: #fc3535;
        }
    }
}
